.callforpaper-content{
    padding: 20px 80px;
}

.call-header{
    background-image: url('/public/images/callforpaper.png');
    background-size: cover;
    background-position: center;
    height: 100px;
}


.call-heading{
    text-align: center;
    padding-top: 20px;
    color: white;
}

.call-para1{
    font-size: 20px;
    padding-bottom: 20px;
}
.call1{
    font-weight: 700;
    color: red;
}

.paper-objective{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-inline: 10px;
    font-size: 20px;
    margin: unset;
}