.conference-heading{
    text-align: center;
}

.conference-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 40px;
    padding-inline: 40px;
    padding-block: 20px;
  }
  
  .ConferenceCard {
    width: 25%;
    margin: 20px;
  }