.Objective-page{
    height: auto;
    padding-inline: 40px;
    padding-block: 80px;
    display: flex;
    gap: 100px;

}

.joinus{
    background: #B5B0E94A;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 22%;
    border-radius: 20px;
    padding: 30px;
}

.whyjoin{
    color: black;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 20px;
}

li{
    font-size: 22px;
    font-weight: 400px;
    padding-bottom: 20px;
}

.last-li{
    list-style: none;
}

.objectives{
    width: 100%;
}

.objectives ul li {
    color: black;
    font-size: 20px;
    font-weight: 400;
}